
::-webkit-scrollbar {
    width: 6px;
    height: 12px;
}


::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: $primary-text-color; 
    border-radius: 10px;
}

