//base color variables
$primary-text-color: #0257BC;
$secondary-text-color: #317BFF;
$header-background-color: #F7F8F9;
$page-number-background1: #CCDDF2;
$page-number-background2: #0D55CF;

//size variables
$heading-ending-tiny-text: 13px;
$cards-font-size: 20px;
$nav-text-size: 17px;
$container-width-web: 1420px;


//card
$box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
$border-rounded: 50%;






